DATABASE_URL=
DIRECT_URL=

PORT=5000
NODE_ENV=development
APP_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000

BCRYPT_SALT_ROUNDS=10
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback

REDIS_USER=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

SMTP_USERNAME=
EMAIL_SENDER=
SMTP_PASSWORD=

SUPER_ADMIN_NAME="Super Admin"
SUPER_ADMIN_EMAIL="superadmin@lifedispatch.com"
SUPER_ADMIN_PASSWORD="SuperAdmin@123"
TESTER_ADMIN_NAME="Tester Admin"
TESTER_ADMIN_EMAIL="admin@lifedispatch.com"
TESTER_ADMIN_PASSWORD="Admin@123"
TESTER_DRIVER_NAME="Tester Driver"
TESTER_DRIVER_EMAIL="driver@lifedispatch.com"
TESTER_DRIVER_PASSWORD="Driver@123"
TESTER_DISPATCHER_NAME="Tester Dispatcher"
TESTER_DISPATCHER_EMAIL="dispatcher@lifedispatch.com"
TESTER_DISPATCHER_PASSWORD="Dispatcher@123"
TESTER_HOSPITAL_STAFF_NAME="Tester Hospital Staff"
TESTER_HOSPITAL_STAFF_EMAIL="hospitalstaff@lifedispatch.com"
TESTER_HOSPITAL_STAFF_PASSWORD="HospitalStaff@123"

SSL_COMMERZ_STORE_ID=
SSL_COMMERZ_STORE_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
